// Colors
$black: #000000;
$white: #FFFFFF;
$gold: #c49b57;
$blue: #183152;
$text: #1a1a18;
$border: #d7d9dc;
$bg: #F5F5F5;
$red: #E00000;
$grey: #cccccc;
$grey-light: #f4f4f4;
$yellow: #fecc0c;


// FRONTLINE
$txt:  #310a2d;
$txt1:  #272727;
$grey: #cccccc;
$grey-light: #585858;
$purple: #972B8A;
$btn-base: #310a2d;
$bgboxes: #f2f2f2;
